* {
    margin: 0;
    padding: 0;
}

body {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 30px;
    color: #fff;
    background-color: rgb(216, 13, 165);
}