* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    transition: 0.3s;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 10px;
}

label {
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    width: 30px;
    height: 20px;
    background-color: crimson;
    display: inline-block;
    transition: 0.3s;
}

input {
    visibility: hidden;
}

h3 {
    margin-bottom: 15px;
}

body.dark {
    background-color: #1f1f1f;
    color: #fff
}

body.dark label {
    background-color: #fff;
}