* {
    margin: 0;
    padding: 0;
}

.heart {
    color: rgb(134, 54, 214);
    font-size: 30px;
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}