* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    height: 500px;
    width: 500px;
    overflow: hidden;
}

img {
    transform-origin: center center;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}